* {
    scroll-behavior: smooth;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: black;
   /* background: url(assets/eye.gif); */
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    margin: 0;
    border: solid white;
    overflow-x: hidden;
    overflow-y: hidden;
    border-top: 0;
}

header h1{
    text-align: center;
    font-weight: normal;
    color: #ffffff;
    border-bottom: solid white;
    border-top: solid white;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 5px;
    margin-top: 0;
}

footer {
    text-align: center;
    color: #ffffff;
    border-top: solid white;
    border-bottom: solid white;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    }

.discord {
    background-color: white;
    color: black;
    font-weight: bold;
    padding-bottom: 2px;
}

footer .discord a {
    text-decoration: none;
    color: black;
}

footer .discord ul {
    padding:0;
    margin: 0;
}

footer .discord ul li
{
	color: #ffffff;
	display: inline-block; 
	width: 100px; 
	text-align: center; 
	padding: 0 7px;
    margin: 0;
	margin-right: 5px;
    font-weight: bold;
}

section {
    color: white;
    text-align: left;
    margin-left: 10px;
}

section h2 {
    font-weight: normal;
    font-size: 19;
    margin-top: 0;
}

section h3{
    font-size: 20;
    font-weight: normal;
    margin-bottom: 0;
}

section .infos p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin-bottom: 0px;
}

section .infos ul {
    padding-left: 25px;
    margin-top: 5px;
}

.contatos {
    color: white;
    text-align: center;
    margin-top: 750px;
}