@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background-color: #24252A;
    color: #dddddd;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20%;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    background-color: #202125;
}

#logo_titulo {
    display: flex;
    align-items: center;
    color: rgb(255, 78, 69);
}

#logo_titulo a {
    text-decoration: none;
    color: rgb(255, 78, 69);
}

#logo_titulo img {
    width: 80px;   
    height: 80px; 
    padding-right: 20px;
}

nav{
    color: rgb(255, 78, 69)
}

nav a {
    text-decoration: none;
    color: rgb(255, 78, 69);
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    display: inline-block;
    padding: 0px 20px;
}

main {
    text-align: center;
    padding: 5% 35%;
    background-color: #202125;
}

main article h2 {
    font-size: 35px;
    font-family: "Cardo", sans-serif;
}

section{
    display: flex;
}

section > p {
    margin-left: 10%;
}

.caracteristicas_server {
    padding: 2%;
}

#carac_esquerda {
    margin-left: 5%;
}

#carac_direita {
    margin-right: 5%;
}

#features_unicos {
    margin-left: 7%;
}

#features_unicos ul {
    list-style: none;
    color: #a0a0a0;
    font-family: monospace;
}

#features_unicos p {
    margin-top: 3%;
}

footer {
    text-align: center;
    font-size: 40px;
    font-style: italic;
    padding: 5% 25%;
    background-color: #09090a;
}

footer p {
    font-family: "Cardo",  sans-serif;
}

ion-icon {
    font-size: 25px;
}

#faq {
    padding: 0% 33%;
}

#faq a {
    text-decoration: none;
    color: #dddddd;
}

#faq h1 {
    text-align: center;
    font-family: "Cardo", sans-serif;
    font-weight: normal;
}

#backgroundRP {
    padding: 0 33%;
}

#backgroundRP h1 {
    text-align: center;
    font-family: "Cardo", sans-serif;
    font-weight: normal;
}

#server_rules {
    padding: 0 33%;
}

#server_rules h1 {
    text-align: center;
    font-family: "Cardo", sans-serif;
    font-weight: normal;
}

#server_rules h2 {
    font-family: "Cardo", sans-serif;
    font-weight: normal;
}

#server_rules ol {
    list-style: upper-roman;
    padding: 0;
}

#server_rules ol > li {
    padding: 2% 0;
}

#server_rules ul {
    list-style: none;
    font-family: monospace;
    padding: 0;
}

@media screen and (max-width: 900px) {
    header {
        flex-wrap: wrap;
        font-size: 16px;
        padding: 5px 5%;
    }

    nav ul {
        padding: 0;
    }

    main {
        padding: 0;
    }

    #logo_titulo img {
        width: 60px;
        height: 60px; 
        padding-right: 20px;
    }

    section {
        flex-wrap: wrap;
    }

    #carac_esquerda {
        margin-left: 0%;
    }

    footer {
        padding: 5% 0%;
    }

    header nav ul {
        display: flex;
        flex-wrap: wrap;
    }

    h2 {
        font-size: 35px;
        margin-top: 0;
    }

    #faq {
        padding: 0 5px;
    }

    #backgroundRP {
        padding: 0 5px;
    }

    #server_rules {
        padding: 0 5px;
    }

    #server_rules ol {
        padding: 0 50px;
    }
}

@media screen and (max-width: 300px) {
    #logo_titulo {
        display: flex;
        flex-wrap: wrap;
    }

    main article h2 {
        font-size: 30px;
    }

    footer {
        font-size: 30px;
    }
}